<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        <input type="text" name="name" placeholder="Nome">
        <button>Enviar</button>
    </form>

    {% for usuario in lista %}
        <p>
            Olá {{ usuario.nome }}!<br>
            Você está na lista de usuários.
        </p>
    {% endfor %}
    
</body>
</html>