body{
    background-color: #ece6e3;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 20px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 200px;
    margin: 0 auto;
    padding: 40px;
    position: relative;
    margin-top: 20%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);  
}

.container a{
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s ease;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    
}

