<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
    <title>
        {% block title %}
            Templates
        {% endblock %}
    </title>
</head>
<body style="background-color: 	#ece6e3;">

    <h1>
        {% block pagina %}
            
        {% endblock %}
    </h1>

    {% block conteudo %}
        
    {% endblock %}
    
</body>
</html>