{% extends 'base.html' %}

{% block title %}
    Dashboard
{% endblock %}

{% block pagina %}
    Dashboard
{% endblock %}

{% block conteudo %}
    <h1>Olá, {{ current_user.email }}</h1>

    <form action="{{ url_for('logout') }}" method="POST">
        <button type="submit">Sair</button>
    </form>

    <h2>Usuários Cadastrados:</h2>
    <ul>
        {% for usuario in lista_usuarios %}
        <li>
            {{ usuario['email'] }}
            {% if usuario['id'] != current_user.id %}
            <form action="{{ url_for('delete_user', user_id=usuario['id']) }}" method="POST">
                <button type="submit">&#128465;</button>
            </form>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
{% endblock %}