<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina Inicial</title>
    <style>
        * {
            text-decoration: none;
            color: #333;
        }
    </style>
</head>
<body>
    <h1>Página Inicial - Seja Bem Vindo</h1>
    <ul>
        <li><a href="{{url_for('cadastro')}}">Cadastrar Preferências </a></li>
        <li><a href="{{url_for('ver_preferencias')}}">Ver Preferencias Salvas</a></li>
    </ul>
</body>
</html>